.navdiv{
    height:130px;
    width:100%;
    background-color:  lavender;

}
HTML,body{scroll-behavior: smooth;

}
.relative{
    position:absolute;
 height:3000px;
}
 .openHours{
     background-color: white;
     position:absolute;
     width:100%;
    

    
     
 }
 .openHours>h1{
     font-size:30px;
     margin-right:190px;
     text-align:center;

 }
.openHours>label{ font-size:20px;
   
    text-align:center;
    margin-left:420px;
    margin-right:0px;
     
}
.absolute{
    position:absolute;
    text-align:center;
    bottom:2500px;
    color:red;
text-align:center;
margin-left:290px;
margin-right:30px;
font-size:60px;  
}
 
.absolute>#lbl2{
    font-size:30px;
    color:red;
}
