.Leftmenus>#div5,#div7,#div9,#div11 {
     margin-left:20px;
     margin-right:10px;
   margin-bottom:5px;
    margin-top:0px;
  
     
 }
  
  h3{color:blue;}
 .Leftmenus>#div6,#div8,#div10,#div12 
 {
    
      margin-top:-140px;
    margin-bottom:5px;
 margin-right:50%;
 margin-left:180px;
  
    }
    
     
  .Rightmenus{
     margin-top:-620px;
  }
 .Rightmenus>#div13,#div15,#div17,#div19{
   margin-right:30%;
   margin-left:650px;
 margin-bottom:5px;
 margin-top:0px;
      
    
 }
   
 .Rightmenus>#div14,#div16,#div18,#div20{
  margin-top:-140px;
 margin-bottom:5px;
margin-left:820px;
margin-right:10px;
 
}
.Drinks>h1{color:blue;
font-size: x-large;
margin-left:30px;
}
.Drinks{
  margin-left:40px;
}
 
 .Specials>h1{
   font-size:x-large;
   color:blue;
 }
 .Specials{
   margin-top:-260px;
   margin-right:30px;
   margin-left:800px;
 }
 .kidsmenu{
   margin-left:440px;
   margin-right:30px;
   margin-top:-250px;
   
 }
 .kidsmenu>h1{
  color:blue;
  font-size: x-large;
 }
 .orderBtn{
   margin-top:100px;
 }
#ordernow{
  border: none;
  color: white;
   
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
       background-color:lightcoral ;
    padding: 30px;
   margin-left:45%;
   bottom:10%;
    border-radius:24px;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
  }
  
